$primary-color: #00ccff
$background-color: $primary-color
$success-color: pastelise(green)
$alert-color: pastelise(red)
$secondary-color: pastelise($primary-color)



$small-screen: 768px
$medium-screen: 1280px
$large-screen: 1440px

$screen: "only screen"
$small: "only screen and (min-width: #{$small-screen})"
$medium: "only screen and (min-width: #{$medium-screen})"
$large: "only screen and (min-width: #{$large-screen})"
$landscape: "only screen and (orientation: landscape)"
$portrait: "only screen and (orientation: portrait)"

$global-radius: 3px


$button-background-hover: tint($background-color, 40%)
$button-background: $background-color

$simple-button-outline-color: shade($button-background, 30%)
$simple-button-outline-hover-color: $simple-button-outline-color



$crumb-bg: lighten($primary-color, 5%)
$crumb-font-color: shade($primary-color, 25%)
$crumb-font-color-current: #333
$crumb-font-color-unavailable: #999