@import settings
@import mixins
@import components/sticky-footer

+sticky-footer($height: 5em, $containerSelector: "#container", $contentSelector: "#content", $footerSelector: "#footer")

html
    body
        background: $background-color

        .container
            width: 50em
            margin: 0 auto
            display: block

