+sticky-footer($height: 5em, $containerSelector: "#container", $contentSelector: "#content", $footerSelector: "#footer")

html
    body
        background: $background-color

        #container
            margin: 0 auto
            display: block

